{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ginişleýin täzelik</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<!--===============================================================================================-->
	<!-- Bootstrap CSS Link -->
	<link rel="stylesheet" href="{% static 'blogy-html-master/blogy-html-master/dist/css/vendor/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'blogy-html-master/blogy-html-master/dist/css/main.css' %}">

	<!-- Slick CSS Link -->
	<link rel="stylesheet" href="{% static 'blogy-html-master/blogy-html-master/dist/css/vendor/slick.css' %}">
	<link rel="stylesheet" href="{% static 'blogy-html-master/blogy-html-master/dist/css/vendor/slick-theme.css' %}">

	<!-- Icon Library Link -->
	<link rel="stylesheet" href="{% static 'blogy-html-master/blogy-html-master/dist/css/cloudflare.css' %}">

	<style>
	
        #picture {
			border-radius: 5px;
			cursor: pointer;
			transition: 0.3s;
		}

		#picture:hover {opacity: 0.7s;}

		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			padding-top: 100px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,0.9);
		}

		.modal-content {
			margin: auto;
			display: block;
			width: 80%;
			max-width: 700px;
			text-align: center;
			color: #ccc;
			padding: 10px 0;
			height: 500px;
		}
		.modal-content,#caption {
			-webkit-animation-name:zoom;
			-webkit-animation-duration:0.6s;
			animation-name:zoom;
			animation-duration:0.6s;

		}
		@-webkit-keyframes zoom {
			from {-webkit-transform: scale(0)}
			to {-webkit-transform: scale(1)}
		}

		@keyframes zoom {
			from {transform: scale(0)}
			to {transform: scale(1)}
		}
		@media only screen and (max-width: 700px) {
			.modal-content {
				width: 100%;

			}
		}

		.close {
			position: absolute;
			top: 15px;
			right: 35px;
			color: #f1f1f1;
			font-size: 50px;
			font-weight: bold;
			transition: 0.3s;

		}
		
		.close:hover,
		.close:focus {
			color: #bbb;
			text-decoration: none;
			cursor: pointer;
		}
			
	</style>
	<style>
		.hover-effect:hover {
			text-decoration: underline;
		}

		.news_card {
			transition: all 0.5s ease;
		}

		.news_card:hover {
			transform: scale(1.1);
			z-index: 999;
		}

		.news_card:hover~.news_card:not(:hover) {
			filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);

		}
	</style>
	<script>
		function startTime() {
			const today = new Date();
			let h = today.getHours();
			let m = today.getMinutes();
			let s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			document.getElementById('clock').innerHTML = h + ":" + m + ":" + s;
			setTimeout(startTime, 1000);
		}

		function checkTime(i) {
			if (i < 10) { i = "0" + i };  // Add zero in front of numbers < 10
			return i;
		}
	</script>
</head>

<body onload="startTime()" class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="topbar">
			<div class="content-topbar h-100 p-rl-30">
				<div class="align-self-stretch size-w-0 pos-relative m-r-30">
					<div class="trending_box">
				

							<span style="font-size:15px;" class="text-uppercase" id="sugunki">
								Şugünki täzelikler:
							</span>
							<marquee scrollamount="8">
								{% for trending in news_header %}
								<a class="hover-effect text" style="font-size:16px"
									href="{% url 'blog_detail' id=trending.id %}">{{ trending.title }}</a>
								<span style="margin: 0 10px;" id="gyzyl">|</span>
								{% endfor %}
							</marquee>
					
							




					</div>
				</div>
				<div class="darkmode">
		
	
					<input type="checkbox" id="toggle">
				
					<div class="display">
						<label for="toggle">
							<div class="circle">
								<svg class="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
									<path d="M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z" />
								</svg>
								<svg class="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
									<path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z" clip-rule="evenodd" />
								</svg>                               
							</div>
						</label>
					</div>
					</div>
					
				{% for info in weather %}
				<div class="weather-info" style="display: inline-block; ">
					<div class="weatherin"
						style="display: flex; flex-direction:row; justify-content:center; align-items:center">
						<div style="width: 72px; height:57px; position:relative; overflow:hidden; padding:7px 0">

							<img src="{{ info.icon.img.url }}"
								style=" object-fit:cover; display:block; width:120%; height:120%; transform: translate(15%, -8%);">
						</div>
						<p style="font-size: 16px;" class="text">{{ info.degree }} <span>&deg;</span> </p>

					</div>

				</div>
				{% endfor %}
				<span style="margin: 0 10px;">|</span>
				<p style="margin: 0;" id="clock" style="font-size: 16px;"></p>
			</div>
		</div>

		<!-- Header Mobile -->


		<!--  -->
		<div class="mainportal" style="display:flex; justify-content:center; align-items:center;">

			<span data-tilt>
				<div class="habarportal">

					<a href="{% url 'index' %}">
						<img src="{% static 'images/Habar_Portal_Logo.png' %}" width="320px" height="100px">
					</a>


				</div>
			</span>




		</div>

		<!--  -->
		<div class="wrap-main-nav">
			<div class="main-nav">
				<!-- Menu desktop -->
				<nav class="menu-desktop">
					<a class="logo-stick" href="{% url 'index' %}">
						<img src="{% static 'images/icons/logo-01.png' %}" alt="LOGO">
					</a>

					<ul class="main-menu justify-content-center">
						<li class="">
							<a href="#" class="diller">Diller</a>
							<ul class="sub-menu">
								{% for language in languages %}
								<li><a href="{% url 'index' %}?language={{language.title}}" id="categ"> 
									{{language.title }}
									</a></li>
								{% endfor %}
							</ul>
						</li>

						{% for category in categories %}
						<li class="mega-menu-item">
							<a id="categ" href="{% url 'index' %}?category={{category.title}}"> {{ category.title }}
							</a>
						</li>
						{% endfor %}
						<form class="form-inline my-2 my-lg-0" method="GET">
							<input name="q" class="form-control mr-sm-2" id="search_input" type="search" placeholder="Gözleg"
								aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Gözle</button>
						</form>


					</ul>
				</nav>
			</div>
		</div>

	</header>
	<!-- Breadcrumb -->

	
	<!-- Content -->
	<section class="bg0 p-b-140 p-t-10">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-30" id="detail">
					<div class="p-r-10 p-r-0-sr991">
						<!-- Blog Detail -->
						<div class="p-b-70">


							<h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2" id="news_title">
								{{ blog.title }}
							</h3>
							
							<div class="flex-wr-s-s p-b-40">
								<span class="f1-s-3 cl8 m-r-15">
									<img src="{% static 'svg/schedule-calendar-icon (1).svg' %}" width="20px" height="20px" style="margin-right:5px">
								

									

									<span style="font-size:14px" class="mini_info">
										{{ blog.created_at|date:"N j, Y" }}
									</span>
								</span>

								<span class="f1-s-3 cl8 m-r-15" style="margin-left:50px;">
									<img src="{% static 'svg/category.svg' %}" width="20px" height="20px" style="margin-right:5px">
								
									<span style="font-size:14px" class="mini_info">{{ blog.category }}</span>
								</span>

								<span class="f1-s-3 cl8 m-r-15" style="margin-left:50px">
									<img src="{% static 'svg/view-icon.svg' %}" width="22px" height="22px" style="margin-right:5px">
								
									<span style="font-size:14px" class="mini_info">{{ blog.view_count }}</span>
								</span>
							</div>

							<div class="wrap-pic-max-w p-b-30 ">
								<img id="picture" src="{{ blog.img.url }}"  >
							</div>

							<div id="myModal" class="modal">
								<span class="close">&times;</span>
								<img class="modal-content" id="fullPicture">
								<div id="caption"></div>
							</div>

							<p class="desc" style="font-size: 16px;">
								{{ blog.description|safe }}
							</p>



							<!-- Tag -->


							<!-- Share -->

						</div>

						<!-- Leave a comment -->
						<div>




						</div>
					</div>
				</div>

				<!-- Sidebar -->
				<div class="col-md-10 col-lg-4 p-b-30">
					<div class="p-l-10 p-rl-0-sr991 p-t-70">
						<!-- Category -->


						<!-- Archive -->


						<!-- Popular Posts -->
						<div class="p-b-30">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 id="beyleki_h3" class="f1-m-2 cl3 tab01-title">
									Beýleki täzelikler
								</h3>
							</div>

							<ul class="p-t-35" id="beyleki">
								{% for post in related_news %}
									
								
								<li class="flex-wr-sb-s p-b-30">
									<a href="{% url 'blog_detail' post.id %}" class="size-w-10 wrap-pic-w hov1 trans-03">
										<div style="width: 110px; height:100px; position:relative; overflow:hidden">

											<img src="{{ post.img.url }}" alt="Thumbnail" onclick="showPopup(this)" style="width: 100%;height:100px; object-fit:cover">
											</div>
										
									</a>

									<div class="size-w-11">
										<h6 class="p-b-4" id="detail_title">
											<a href="{% url 'blog_detail' post.id %}" class="f1-s-5 cl3 hov-cl10 trans-03">
												{{ post.title }}
											</a>
										</h6>

										<div style="display: flex; justify-content:start; margin-top:15px">
											
										
										<span class="f1-s-3 cl8 m-r-15">
											<img src="{% static 'svg/schedule-calendar-icon (1).svg' %}" width="20px" height="20px" style="margin-right:5px">
										
		
											
		
											<span style="font-size:14px" class="mini_info">
												{{ post.created_at|date:"N j, Y" }}
											</span>
										</span>
									</div>
									</div>
								</li>
								{% endfor %}
							
							</ul>
						</div>

						<!-- Tag -->
						<div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>


		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">

					<a href="">
						<a href="#" class="f1-s-1 cl10 hov-link1">
							Copyright &copy; Öwezow Kemal | TMHI 2024
						</a>
				</span>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>


	<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

	<script>
		var toggle = document.getElementById('toggle')

		toggle.onclick = function () {
			document.body.classList.toggle("dark-theme");
		}
	</script>

</body>

</html>